<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net45" />
  <package id="CefSharp.Common" version="47.0.2" targetFramework="net45" />
  <package id="CefSharp.OffScreen" version="47.0.2" targetFramework="net45" />
  <package id="MonoGame.Framework.WindowsDX" version="3.4.0.459" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCopPlus.MSBuild" version="4.7.49.5" targetFramework="net45" developmentDependency="true" />
</packages>